[submodule "Libft"]
	path = Libft
	url = git@github.com:Xeotham/Libft.git
[submodule "printf"]
	path = printf
	url = git@github.com:Xeotham/printf.git
[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:Xeotham/get_next_line.git
[submodule "push_swap"]
	path = push_swap
	url = git@github.com:Xeotham/push_swap.git
[submodule "fdf"]
	path = fdf
	url = git@github.com:Xeotham/fdf.git
